.banner {
  width: 100%;
  min-height: 300px;
  background-image: url("https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    background-color: brown;
    mix-blend-mode: screen;
  }
}
.js-cartItem tr {
  vertical-align: middle;
}
@media (max-width: 769px) {
  .js-cartItem tr {
    vertical-align: bottom;
  }
}
.wrap {
  width: 120px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100px;
  }
}
// 進度條
.progresses {
    display: flex;
    align-items: center
}

.line {
    width: 120px;
    height: 6px;
}

.steps {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}