.font {
  font-family: 'Viaoda Libre', cursive;
}
.poly {
  height: 250px;
  max-width: 100%;
  &.poly-white {
    background-color: #84543b;
    clip-path: polygon(100% 100%, 0 100%, 100% 40%);
    margin-bottom: -4px;
  }
  &.poly-secondary {
    margin-top: -4px;
  }
}
header {
  .hero-text {
    font-size: 30vw;
    color: #f00;
    opacity: 0.1;
    z-index: 1;
    user-select: none;
  }
  .logo {
    z-index: 2;
    position: relative;
    animation: logo 2s infinite;
  }
  @keyframes logo {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  overflow: hidden;
  height: calc(100vh - 72px);
  background-color: #402219;
  color: #ececec;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-bottom {
    bottom: calc(0% - 15px);
    width: 105%;
    background-color: transparent;
    z-index: 2;
  }
  .h1 {
    letter-spacing: 3px;
  }
  .explore {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: scroll 2s infinite;
    &::after {
      display: block;
      color: #e6af21;
      content: '↯';
      transform: scale(1.5);
    }
  }
  @keyframes scroll {
    0% {
      top: 85%;
    }
    50% {
      top: 90%;
    }
    100% {
      top: 85%;
    }
  }
}
section.life {
  position: relative;
  .person {
    top: -28%;
    right: 10%;
    z-index: 10;
    @include pad {
      top: -18%;
    }
  }
}
section.why {
  .poly {
    background: #e6af21;
    clip-path: polygon(0 0, 100% 60%, 100% 0);
    position: relative;
    z-index: 1;
  }
}
section.way {
  color: #ececec;
  p {
    line-height: 2rem;
    font-size: 1.2rem;
  }
}

