.banner {
  width: 100%;
  min-height: 300px;
  background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/youting/1628577025855.jpg?GoogleAccessId=firebase-adminsdk-zzty7%40vue-course-api.iam.gserviceaccount.com&Expires=1742169600&Signature=JgxRE9qA90HyCsSDmJpPDj9vmJKgnj388fdzPC%2FN%2FCF3CtYdraapqHQgZrIrekxLfpOd71c6IV8HK5t3jbW0F9pF6%2FLdq01tqPm6tZ%2F15%2BMufBj6se9CF1AZkZx7lX1hFj7mZHA4RxddaSWdlnjvsN8mdpabLSjIv6faQ9fTIrD3RvPomi9p2K9TYKUGXuVOUUOmsnrBWK0xYwZ6O6B5sZ2%2F5cyN5Sej0WtDQRcteCqSaw5HAQSBnSvLq0EGSVa7hRNkm%2BuLx0SMJfYGvfm1hnXlrOwRwxHc4B94LORcP6%2FiTBIVuFNzbWcKavQYAGYeHVD0vtkUWVC%2FWcU2BTxvPw%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    background-color: brown;
    mix-blend-mode: screen;
  }
}